:root {
    /* root color */
    
        /* color font */

        --global-fonts: #000;
        --primary-fonts: #fff;
        --accent-fonts: #FFD723;
        --accent-secondary-fonts: #B6C197;
        --primary-secondary-fonts :#D4D6D4;
        --title-fonts: #4D533C;
        --secondary-fonts: #21384299;



        /* color background */

        --global-background: #fff;
        --secondary-background: #444a34;
        --accent-background: #FFD723;

        /* color border */

        --secondary-border: #5D6544;

    /* font size */

       --xs-size-fonts: 14px; 
       --s-size-fonts: 16px;
       --m-size-fonts: 24px;
       --ml-size-fonts: 32px;
       --l-size-fonts: 36px;
       --xl-size-fonts: 60px;

}