* {
    box-sizing: border-box;
}

img {
    inline-size: 100%;
    block-size: 100%;
}

ul, 
h1,
h2,
h3,
h4,
h5,
p,
span {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
}


.link {
    display: inline-block;
    position: relative;
    margin-inline-start: 14px;
    width: fit-content;
    color: var(--primary-secondary-fonts);
    font-family: 'FontAwesome', sans-serif;
    font-size: var(--s-size-fonts);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    &::before {
        content: '\25B6';
        position: absolute;
        margin-inline-start: -14px;
        font-size: var(--xs-size-fonts);
    }

    &:hover {
        color: var(--accent-fonts);
        border-color: inherit;
    }
}

.link-mode {
    line-height: 21px;
}

.title {
    font-size: var(--l-size-fonts);
    font-weight: 700;
}

.title-line-heigh-s {
    line-height: 52px;
    letter-spacing: 1px;
}

.title-mode {
    line-height: 46px;
    letter-spacing: 2px;
}

.title-header-mode {
    inline-size: 336px;
    line-height: 54px;
}

.section__text {
    font-size: var(--s-size-fonts);
    line-height: 26px;
}

.block-relative {
    position: relative;
    inline-size: 100%;
}

/* Header */

.header {
    display: block;
    inline-size: 100%;
    min-block-size: 811px;
    padding-inline: 164px;
    padding-block-start: 24px;
    background-image: url(./images/Slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__navigetion {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
    block-size: 43px;
}

.header__navigetion_menu {
    display: block;
    inline-size: 40px;
    block-size: 40px;
    background-color: var(--global-background);
    background-image: url(./images/icons8-menu.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50%;
    background-position: center;

    &:hover {
        cursor: pointer;
    }
}

.header__content {
    margin-block-start: 121px;
    inline-size: 616px;
    color: var(--primary-fonts);
}

.header__content__text {
    margin-block-end: 22px;
    font-size: var(--s-size-fonts);
    line-height: 21px;
}

.header_content__text__title {
    margin-block-end: 24px; 
    font-weight: 700;
    font-size: var(--xl-size-fonts);
    line-height: 74px;
    letter-spacing: 3px;
}

.header__content__text-mode {
    font-size: var(--s-size-fonts);
    line-height: 26px;
    margin-block-end: 49px;
}

/* end header */

/* main */

.client {
    display: flex;
    justify-content: end;
    position: relative;
    inline-size: 100%; 
}

.client__block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-block-start: -103px;
    padding-inline: 65px 166px;
    padding-block: 60px 54px;
    background-color: var(--global-background);
    box-shadow: 50px 50px 100px 0px #00000025;
}

.client__block__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 66px;
}

.client__block__list__items {
    inline-size: 156px;
    block-size: 113px;
    list-style: none;
}

.client__link {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    text-decoration: none;
    background-image: url(./images/icon_client.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_1 {
    background-position: 0 center;
}

.logo_2 {
    background-position: -216px center;
}

.logo_3 {
    background-position: -444px center;
}

.logo_4 {
    background-position: -667px center;
}

.logo_5 {
    background-position: -889px center;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-inline: 165px;
    padding-block-end: 150px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--secondary-border);
}

.services__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 474px;
    block-size: 366px;
    margin-block-start: 244px;
}

.services__info__text {
    font-size: var(--xs-size-fonts);
    line-height: 14px;
}

.services__info__text-mode {
    font-size: var(--s-size-fonts);
    line-height: 27px;
}

.services__comments {
    inline-size: 474px;
    block-size: 644px;
    padding-inline: 40px 8px;
    padding-block: 244px 60px;
    box-shadow: 0px 100px 100px 0px #00000025;
}

.services__comments__text {
    font-size: var(--m-size-fonts);
    line-height: 40px;
    font-style: italic;
    margin-block-end: 50px;
}

.comments-author {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    column-gap: 30px;
}

.comments-author__images {
    inline-size: 90px;
    block-size: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.comments-author__info__name {
    color: var(--title-fonts);
    font-size: 22px;
    line-height: 33px;
}

.comments-author__info__profession {
    color: var(--secondary-fonts);
    font-size: var(--s-size-fonts);
    line-height: 24px;
}

.project {
    inline-size: 100%;
    padding-block: 150px;
}

.project__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 165px 300px;
    padding-block-end: 100px;
}

.project__header__text {
    inline-size: 518px;
    line-height: 26px;
}

.block-project {
    display: flex;
    column-gap: 60px;
    padding-block-end: 100px;
}

.block-project--direction {
    flex-direction: row-reverse;
    padding-block-end: 70px;
    column-gap: 95px;
}

.block-project__user__info {
    display: flex;
    inline-size: 775px;
    block-size: 615px;
}

.block-project__user__info--direction {
    flex-direction: row-reverse;
}

.block-project__user__info__image {
    inline-size: 735px;
    block-size: 550px;
    object-fit: cover;
    object-position: center; 
}

.blocks-comments-user {
    display: flex;
    flex-direction:  column;
    gap: 30px;
    position: absolute;
    inline-size: 453px;
    bottom: 0;
    right: 0;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 50px 50px 100px 0px #00000025;
}

.blocks-comments-user-mode {
    bottom: 18px;
}

.blocks-comments-user__text {
    font-size: var(--s-size-fonts);
    font-style: italic;
    line-height: 26px;
}

.blocks-comments-user__info {
    display: flex;
    align-items: center;
    gap: 19px;
}

.blocks-comments-user--direction {
    bottom: 30px;
    left: 0;
}

.blocks-comments-user__info__images {
    inline-size: 46px;
    block-size: 46px;
    border-radius: 50%;
}

.blocks-comments-user__info__profil__name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 1.5px;
}

.blocks-comments-user__info__profil__profession {
    font-size: var(--xs-size-fonts);
    font-style: normal;
    line-height: 21px;
}

.block-project__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 400px;
    padding-block: 80px 138px;
}

.info {
    padding-inline: 166px;
    padding-block-end: 323px;
}

.info__title {
    inline-size: 625px;
    padding-block-start: 28px;
    margin-block-end: 60px;
    font-size: var(--ml-size-fonts);
    line-height: 46px;
}

.info__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.info__slider__block {
    display: block;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    inline-size: 255px;
    min-block-size: 309px;
    padding-inline: 30px;
    padding-block: 27px 36px;
}

.card__title {
    font-size: var(--m-size-fonts);
    font-weight: 500;
    line-height: 34px;
    text-transform: uppercase;
}

.card__text {
    font-size: var(--xs-size-fonts);
    line-height: 26px;
    color: var(--secondary-fonts);
}

.action {
    display: flex;
    flex-direction: column;
    position: absolute;
    inline-size: 1275px;
    min-inline-size: 1025px;
    block-size: 362px;
    margin-block-start: -172px;
    padding-inline: 164px 289px;
    padding-block: 65px 70px;
    background-color: var(--global-background);
    box-shadow: 50px 130px 100px 0px #00000025;
}

.action__title {
    font-size: var(--xl-size-fonts);
    font-weight: 700;
    line-height: 74px;
    margin-block-end: 50px;
}

/* end main */

/* footer */

.footer {
    display: block;
    padding-inline: 165px;
    padding-block: 307px 30px;
    background-image: url(./images/Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-group {
    display: flex;
    flex-direction: column;
}

.footer-group__address {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 135px;
    margin-block-end: 52px;
}

.footer-group__address__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--s-size-fonts);
    font-weight: 400;
    font-style: normal;
    line-height: 48px;
}

.footer-group__address__title {
    color: var(--primary-fonts);
}

.footer__link {
    color: var(--primary-fonts);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

.block__line {
    display: block;
    inline-size: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--secondary-border);
}

.container {
    display: flex;
    flex-wrap: nowrap;
    padding-block: 56px;
    inline-size: 100%;
}

.block__menu {
    display: flex;
    inline-size: 679px;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: var(--secondary-border);
}


.block__menu__column {
    display: flex;
    flex-direction: column;
    inline-size: 170px;
    list-style: none;
    font-size: var(--s-size-fonts);
}

.block__menu__column-padding-s {
    margin-inline-end: 70px;
}

.block__menu__column-padding-m {
    margin-inline-end: 90px;
}

.block__menu__column__name {
    font-weight: 600;
    line-height: 38px;
    text-transform: uppercase;
    color: var(--primary-fonts);
    margin-block-end: 21px;
}

.block__menu__column__items {
    min-inline-size: 259px;
    line-height: 40px;
}

.block__menu__column__items-height {
    line-height: 25px;
}

.block__menu__column__items__menu__link {
    text-decoration: none;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    color: var(--accent-secondary-fonts);

    &:hover {
        border-color: inherit;
    }
}

.block__social {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    inline-size: 320px;  
    margin-inline-start: 110px;
}

.block__social__link {
    display: inline-block;
    font-size: var(--m-size-fonts);
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 1.4px;
    color: var(--primary-fonts);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 7px;
    }
}

.block__social__icon {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 14px;
    margin-block: 5px 30px;
    list-style: none;
}

.block__social__icon__link {
    display: block;
    inline-size: 33px;
    block-size: 33px;
    background-color: var(--secondary-background);
    border-radius: 50%;
    background-image: url(./images/icon_social.png);
    background-repeat: no-repeat;
    background-size: 160px;

    &:hover {
        background-color: var(--accent-background);
    }
}

.facebook {
    background-position: 10px 7px;
}

.twitch {
    background-position: -36px 7px;
}

.google {
    background-position: -85px 7px;
}

.inst {
    background-position: -134px 6px;
}

.footer-group__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 25px; 
    block-size: 31px;
    font-size: var(--xs-size-fonts);
    line-height: 21px;
    color: var(--accent-secondary-fonts);
}

.footer-group__logo__images {
    inline-size: 200px;
}

.fotter-group__logo__text {
    font-size: var(--s-size-fonts);
    text-align: right;
}

/* end footer */
